@CHARSET "ISO-8859-1";

.header {
    height:50px;
    background:#000000;
    border:1px solid #CCC;
    position: fixed;
    top: 0px;
    left: 0px;
    width:100%;
    text-align: left;
}

.header-cont a{
	display: inline-block;
	color: #FFFFFF;
	position:relative;
	float: right;
	margin: 10px 10px 0px 10px;
	font-family: Monospace;
    font-size: 1.5em;
    text-decoration: none;
}

.header-cont p{
	display: inline-block;
	color: #FFFFFF;
	position:relative;
	float: left;
	margin: 10px 10px 0px 10px;
	font-family: Monospace;
    font-size: 2em;
}